body {
    font-family: Arial, sans-serif;
  }
  
  #carrito, #productos {
    float: left;
    margin-right: 20px;
  }
  
  #carrito {
    width: 300px;
  }
  
  #productos {
    width: 400px;
  }
  
  button {
    cursor: pointer;
  }
  